{% extends "base.html" %}

{% block content %}

<header class="bg-primary-gradient">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                <div class="text-center">
                    <p class="fw-bold text-success mb-2">&nbsp;#1 Pizza in Ústí nad Labem</p>
                    <h1 class="fw-bold">BETTER THAN CRYSTAL METH</h1>
                </div>
            </div>
            <div class="col-12 col-lg-10 mx-auto">
                <div class="position-relative" style="display: flex;flex-wrap: wrap;justify-content: flex-end;">
                    <div style="position: relative;flex: 0 0 45%;transform: translate3d(-15%, 35%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.8" src="static/images/products/3.png"></div>
                    <div style="position: relative;flex: 0 0 45%;transform: translate3d(-5%, 20%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.4" src="static/images/products/2.png"></div>
                    <div style="position: relative;flex: 0 0 60%;transform: translate3d(0, 0%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.25" src="static/images/products/1.png"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container py-5">
        <div class="mx-auto" style="max-width: 900px;">
            <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
                <div class="col mb-4">
                    <div class="card bg-primary-subtle">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fw-bold text-primary card-text mb-2">Pizza</p>
                            <h5 class="fw-bold card-title mb-3">Satisfy your craving with our delactable pizzas.</h5><a class="btn btn-primary btn-sm" role="button" href="/pizza">Order</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card bg-secondary-subtle">
                        <div class="card-body text-center px-4 py-5 px-md-5" style="height: 230.766px;">
                            <p class="fw-bold text-secondary card-text mb-2">Subs</p>
                            <h5 class="fw-bold card-title mb-3">Elevate your sandwich experience through layers of flavour.</h5><a class="btn btn-secondary btn-sm" role="button" href="/subs">Order</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card bg-info-subtle">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fw-bold text-info card-text mb-2">Salads</p>
                            <h5 class="fw-bold card-title mb-3">Embark on a crisp and refreshing journey with our vibrant salads.</h5><a class="btn btn-info btn-sm" role="button" href="/salads">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 mt-5">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Reviews</p>
                <h2 class="fw-bold"><strong>What People Say About us</strong></h2>
                <p class="text-muted">Our customer, our master.&nbsp;</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 d-sm-flex justify-content-sm-center">
            <div class="col mb-4">
                <div class="d-flex flex-column align-items-center align-items-sm-start">
                    <p class="bg-body-tertiary border rounded border-0 border-light p-4">I found a tiny alien doing moonwalk on my slice. Maybe it was my son, but this pizza aint no joke son. Out of this world experience.</p>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="75" height="75" src="static/images/team/avatar11.png">
                        <div>
                            <p class="fw-bold text-primary mb-0">Evžen Zazvonil</p>
                            <p class="text-muted mb-0">Customer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="d-flex flex-column align-items-center align-items-sm-start">
                    <p class="bg-body-tertiary border rounded border-0 border-light p-4">I felt like a pizza archaeologist, unearthing layers of flavor history with each bite. I even found a lost city of sausage nestled between the pepperoni hills.</p>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="75" height="75" src="static/images/team/avatar10.png">
                        <div>
                            <p class="fw-bold text-primary mb-0">Eva Tlustá</p>
                            <p class="text-muted mb-0">Customer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="d-flex flex-column align-items-center align-items-sm-start">
                    <p class="bg-body-tertiary border rounded border-0 border-light p-4">In the end, I rolled away from the table, not because I was too full, but because I wanted to recreate the pizza experience as a human pizza roll.</p>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="75" height="75" src="static/images/team/avatar12.png">
                        <div>
                            <p class="fw-bold text-primary mb-0">Honza Kanec</p>
                            <p class="text-muted mb-0">Customer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="border rounded border-0 border-white d-flex flex-column justify-content-between align-items-center flex-lg-row bg-primary-gradient p-4 p-lg-5">
            <div class="text-center text-lg-start py-3 py-lg-1">
                <h2 class="fw-bold mb-2">Subscribe to our newsletter</h2>
                <p class="mb-0">Get some coupons.</p>
            </div>
            <form class="d-flex justify-content-center flex-wrap flex-lg-nowrap" method="post" data-bs-theme="light">
                <div class="my-2"><input class="border rounded-pill shadow-sm form-control" type="email" name="email" placeholder="Your Email"></div>
                <div class="my-2"><button class="btn btn-primary shadow ms-2" type="submit">Subscribe </button></div>
            </form>
        </div>
    </div>
</section>

{% endblock %}