{% extends "base.html" %}

{% block content %}
<section class="container py-5">
<div class="container">
    <h1 class="mt-5">Thank You</h1>
    <h4>The best of the best prepare your order as you are reading this message!</h4>
</div>
<div class="col-12 col-md-3 align-items-center">
<div class="card">
    <img src="/static/images/team/pizza-chef.png" class="card-img-top rounded mx-auto d-block img-fluid kuchar">
</div>
</div> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
</section>
{% endblock %}